ads1015
appdirs
arandr
asn1crypto
astroid
asttokens
automationhat
backcall
backports.tarfile
beautifulsoup4
blinker
blinkt
buttonshim
Cap1xxx
certifi
chardet
charset-normalizer
click
colorama
colorzero
contourpy
cookies
cryptography
cupshelpers
cycler
dbus-python
decorator
dill
distro
distro-info
docutils
drumhat
entrypoints
envirophat
exceptiongroup
executing
exif
ExplorerHAT
Flask
fonttools
fourletterphat
geographiclib
geopy
gpiod
gpiodevice
gpiozero
guizero
gyp
html5lib
i2cdevice
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython_genutils
ipython_pygments_lexers
isort
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jeepney
Jinja2
jupyter-client
jupyter_core
keyring
keyrings.alt
kiwisolver
lazy-object-proxy
logilab-common
lxml
MarkupSafe
matplotlib
matplotlib-inline
mccabe
microdotphat
mock
more-itertools
mote
motephat
mypy_extensions
nudatus
numpy
oauthlib
packaging
pantilthat
parso
pbr
pexpect
pgzero
phatbeat
pi3d
pianohat
picamera
pickleshare
picraft
piglow
pigpio
Pillow
platformdirs
plum-py
prompt_toolkit
psutil
ptyprocess
pure_eval
pycairo
pycodestyle
pycrypto
pycryptodomex
pycups
pycurl
pyflakes
pygame
Pygments
PyGObject
pyinotify
PyJWT
pylint
pyOpenSSL
pyparsing
PyQt5
PyQt5_sip
PySDL2
pyserial
pysmbc
python-apt
python-dateutil
pyxdg
PyYAML
pyzmq
QScintilla
qtconsole
QtPy
rainbowhat
reportlab
requests
requests-oauthlib
responses
roman
RPi.GPIO
scrollphat
scrollphathd
SecretStorage
semver
Send2Trash
sense-emu
setproctitle
simplegeneric
simplejson
six
skywriter
smbus2
sn3218
soupsieve
spidev
ssh-import-id
st7735
stack-data
toml
tomli
tomlkit
tornado
touchphat
traitlets
twython
typing_extensions
uflash
unattended-upgrades
urllib3
wcwidth
webencodings
Werkzeug
wrapt
xdg
zipp
